<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XcodeServerTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32EC6F431C86EC9E006BD33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32EC6F571C86EC9E006BD33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32EC6F621C86EC9E006BD33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
